<div style="display: flex; height: 800px">
    <div style="width: 30%">
        <app-minty-table [data]="seedData$ | async"></app-minty-table>
        <button (click)="onClear()">Clear</button>
        <button (click)="onSeed()">Seed</button>
    </div>
    <div style="width: 70%">
        <ngx-graph
                [links]="links"
                [nodes]="nodes"
                [autoCenter]="true"
                [showMiniMap]="true"
        >
            <ng-template #nodeTemplate let-node>
                <svg:g class="node">
                    <svg:circle
                            [attr.cx]="node.dimension.width / 2"
                            [attr.cy]="node.dimension.height / 2"
                            [attr.r]="Math.min(node.dimension.width, node.dimension.height) / 2"
                            [attr.fill]="node.data.color" />
                    <svg:text
                            text-anchor="middle"
                            [attr.x]="node.dimension.width / 2"
                            [attr.y]="node.dimension.height / 2"
                            dy="0.35em">{{node.label}}</svg:text>
                </svg:g>
            </ng-template>
        </ngx-graph>
    </div>
</div>
