<form [formGroup]="form">
    <table formArrayName="columns">
        <tr>
            <th>start</th>
            <th>end</th>
            <th>weight</th>
        </tr>
        <ng-container *ngFor="let column of columns.controls; let i = index; let last = last" [formGroupName]="i" class="column">
            <tr>
                <td><input style="width: 40px;" type="number" formControlName="start" placeholder="Start"></td>
                <td><input style="width: 40px;" type="number" formControlName="end" placeholder="End"></td>
                <td><input style="width: 40px;" type="number" formControlName="weight" placeholder="Weight"></td>
                <td><button *ngIf="last; else removeOption" (click)="onAddButtonClick()">Add</button></td>
                <ng-template #removeOption>
                    <button  (click)="onRemoveButtonCLick(i)">Remove</button>
                </ng-template>
            </tr>
        </ng-container>
    </table>
</form>

