<div class="container-fluid">
    <ng-container *ngLet = "data$ | async as data">
        <div class="row" style="height: 30vw" xmlns:svg="">
            <div class="col-3">
                <app-minty-table
                    [data]="data"
                    (removeElement) = "onRemoveElement($event)"
                    (addElement)="onAddElement($event)"
                ></app-minty-table>
                <button class="btn btn-secondary m-1 me-2" (click)="onClear()">Clear</button>
                <input class="form-control form-control-sm mt-1 ms-1" [type]="'file'" (change)="onFileSelected($event)"/>
                <div class="mt-2 mb-2 ms-1">
                    <span>Saved Datasets:</span>
                    <select class="form-select-sm ms-1" #setsSelect (change)="onSetSelect($event)">
                        <option disabled selected value></option>
                        <option *ngFor="let item of savedDatasets;">
                            {{item}}
                        </option>
                    </select>
                </div>

                <div class="d-flex">
                    <input class="ms-1 form-control w-50 me-2" [type]= "'text'" #groupName [placeholder]="'Input name of data group'"/>
                    <button class="btn btn-light m-1" (click)="saveToLocalStorage(groupName.value)">Save Data</button>
                </div>
            </div>
            <div class="col-6">
                <ngx-graph
                    #graph
                    *ngIf="data?.length"
                    [links]="links"
                    [nodes]="nodes"
                    [autoCenter]="true"
                    [showMiniMap]="true"
                    [layout]="'dagre'"
                    [autoZoom]="true"
                    [update$]="updateGraph$"
                    [view]="[1000, 800]"
                >

                    <ng-template #nodeTemplate let-node>
                        <svg:g class="node" (click)="onNodeClick(node)">
                            <svg:circle
                                [attr.cx]="node.dimension.width / 2"
                                [attr.cy]="node.dimension.height / 2"
                                [attr.r]="Math.min(node.dimension.width, node.dimension.height) / 2"
                                [attr.fill]="node.data.color" />
                            <svg:text
                                text-anchor="middle"
                                [attr.x]="node.dimension.width / 2"
                                [attr.y]="node.dimension.height / 2"
                                dy="0.35em">{{node.label}}</svg:text>
                        </svg:g>
                    </ng-template>

                    <ng-template #defsTemplate>
                        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                        </svg:marker>
                    </ng-template>

                    <ng-template #linkTemplate let-link>
                        <svg:g class="edge">
                            <svg:path class="line"
                                      [attr.stroke-width]="link.data.transitionStyle.width"
                                      marker-end="url(#arrow)"
                                      [attr.stroke]="link.data.transitionStyle.color">
                            </svg:path>
                            <svg:text class="edge-label" text-anchor="middle">
                                <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                    {{link.label}}
                                </textPath>
                            </svg:text>
                        </svg:g>
                    </ng-template>
                </ngx-graph>
           </div>
            <div class="col-2 ms-3">
                <ng-container *ngIf="result !== null">
                    <ng-container *ngIf="!result.isSuccessful; else mintyResult">
                        <p>{{result.message}}</p>
                    </ng-container>
                    <ng-template #mintyResult>
                        <p>H: {{result.mintyResult.h}}</p>
                        <p *ngFor="let message of result.mintyResult.detailedPath" class="mb-0">
                            {{message}}
                        </p>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>
