<div class="container">
    <p>Yuriy Fedkovych Chernivtsi National University</p>
    <p>Department of Mathematical Problems of Management and Cybernetics</p>
    <p>Supervisor: Mykola Rusnak</p>
    <div>
        <p>Created by:</p>
        <ul>
            <li>Dmytro Paskar (Developer)</li>
            <li>Bohdan Bandure (Developer)</li>
            <li>Diana Kaptar (Technical writer)</li>
            <li>Maksym Patarayko (Project Manager)</li>
            <li>Maksym Nazarov (QA)</li>
            <li>Oleksiy Shorodok (QA)</li>
        </ul>
    </div>
    <p>Contact us:</p>
    <ul>
        <li>Email: paskar.dmytro@chnu.edu.ua</li>
        <li>Phone number: +380995544789</li>
    </ul>
    <p>Released in 2024</p>
</div>
